dist/
match_wiki/
mbti_match_ios/
mbti_match_android/ 
mbti_match/
mbti_match_ios_test/
mbti_match_android_test/

deploy_versions/

.temp/
.rn_temp/

node_modules/

.DS_Store
/.idea

lerna-debug.log
package-error.json
yarn-error.log
_book

.idea
.jscpd
.eslintcache

.npmrc

.vscode/*
!.vscode/yst.code-snippets

.yarn*

.swc
