<!DOCTYPE html>
<html>

<head>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
  <meta content="width=device-width,initial-scale=1,user-scalable=no" name="viewport">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-touch-fullscreen" content="yes">
  <meta name="format-detection" content="telephone=no,address=no">
  <meta name="apple-mobile-web-app-status-bar-style" content="white">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <!-- 禁止缓存 -->
  <!-- <meta http-equiv="Cache-Control" content="no-cache,no-store,must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" /> -->
  <title>
    <%= process.env.TARO_APP_TITLE %>
  </title>
  <script><%= htmlWebpackPlugin.options.script %></script>

</head>

<body>
  <div id="app"></div>

  <!-- <% if(process.env.TARO_APP_ENV==='development' ){ %>
  <script src="//cdn.bootcdn.net/ajax/libs/eruda/3.0.1/eruda.min.js"></script>
  <script>eruda.init();</script>
  <% } %> -->


  <% if(process.env.TARO_APP_ENV==='production' ){ %>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-6KDER6X7EE"></script>
  <script>window.dataLayer = window.dataLayer || []; function gtag() { dataLayer.push(arguments); }; gtag('js', new Date()); gtag('config', 'G-6KDER6X7EE');
  </script>
  <% } %>
</body>

</html>
