.comp-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 0 calc(env(safe-area-inset-bottom) + 24px);
  border-top: 1px solid #dddddd;
  background: #f8f8f8;

  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  margin: auto;

  &__item {
    width: 50%;
    text-align: center;

    &_img {
      width: 48px;
      height: 48px;
      display: block;
      margin: 0 auto;
    }

    &_txt {
      font-weight: 600;
      font-size: 24px;
      color: #999999;
      line-height: 36px;
      display: block;
    }

    &_act {
      .comp-nav__item_txt {
        color: #65d0a9;
        font-weight: 500;
      }
    }
  }
}
